
.jobPostsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin:30px
  }
  
  .cardLink {
    text-decoration: none !important; 
    text-align: center; 
  }
  
  .jobCard {
    width: 300px;
  }
  
  .cardBody {
    text-align: center; 
  }
  
  .title {
    font-weight: bold; 
  }
  
  .subtitle {
    font-weight: normal; 
  }
  
  